* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Medium.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-SemiBold.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url(../fonts/Merriweather-Black.ttf);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url(../fonts/Merriweather-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SedgwickAve';
    src: url(../fonts/SedgwickAve-Regular.ttf);
    font-weight: 500;
    font-style: normal;
}


/* первый */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.background {
    background: url(../img/bg.png);
    background-size: cover;
    background-position: center;
    height: 1100px;
    position: relative;
}

.background .bg-sleva {
    position: absolute;
    width: 200px;
}

.background .container .navigat {
    display: flex;
    justify-content: space-evenly;
}

.background .navigat .btn button {
    color: #f87932;
    padding: 10px 30px;
    border-radius: 0px 0px 15px 15px;
    border: none;
    background-color: #FFFFFF;
    font-size: 20px;
    font-family: 'Lato';
    font-weight: 400;
    letter-spacing: 4px;
    height: 50px;
    transition: .3s;
}

.background .navigat .btn button:hover {
    color: #FFFFFF;
    background-color: #f87932;
    transition: .6s;
}

.background .navigat .btn1 button {
    padding: 10px 30px;
    border-radius: 0px 0px 15px 15px;
    border: none;
    background-color: #FFFFFF;
    height: 100px;
    width: 130px;
}

.background .trav {
    display: flex;
    margin-top: 130px;
}

.background .trav .slovo {
    font-family: 'Merriweather';
    font-size: 80px;
    font-weight: 700;
    margin: 1;
    color: #f87932;
    margin-bottom: 88px;
}

.background .trav .slovo .cyan {
    color: #38bfa7;
}

.background .slova .book {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 17px;
    color: #FFFFFF;
    width: 213px;
    height: 62px;
    background-color: #F87932;
    transition: .5s;
    padding-left: 10px;
    letter-spacing: 5px;
    transition: .3s;
}

.background .slova .book:hover {
    border-radius: 15px;
    color: #F87932;
    background-color: #FFFFFF;
    transition: .6s;
}

.background .container .trav .kubs img {
    height: 610px;
    width: 610px;
    margin-left: 100px;
}


/* второй блок */

.adventure {
    margin-top: 80px;
    position: relative;
}

.adventure .container .img {
    background-image: url(../img/полоска.png);
    width: 720px;
    height: 600px;
    position: absolute;
    background-size: cover;
    left: 120px;
    bottom: 80px;
}

main .adventure .container {
    display: flex;
    justify-content: center;
}

.adventure .fotoodin,
.fotodva {
    width: 50%;
}

.adventure .container .fotodva img {
    width: 100%;
}

.adventure .fotoodin h4 {
    font-size: 24px;
    font-family: 'Lato';
    font-weight: 300;
    letter-spacing: 6px;
}

.adventure .fotoodin h2 {
    font-size: 60px;
    font-family: 'Merriweather';
    font-weight: 700;
}

.adventure .fotoodin p {
    font-size: 18px;
    font-family: 'Lato';
    font-weight: 300;
    width: 75%;
    margin-top: 20px;
    margin-bottom: 100px;
    letter-spacing: 4px;
}

main .adventure .btn2 button {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 17px;
    color: #FFFFFF;
    width: 213px;
    height: 62px;
    background-color: #F87932;
    transition: .5s;
    padding-left: 10px;
    letter-spacing: 5px;
    transition: .3s;
}

main .adventure .btn2 button:hover {
    border-radius: 15px;
    color: #F87932;
    background-color: #FFFFFF;
    transition: .6s;
}


/* третий блок */

main .video {
    background-image: url(../img/Mask.png);
    background-size: cover;
    height: 900px;
    margin-top: 100px;
}

.video .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video .container .h2 {
    font-size: 50px;
    font-family: 'Merriweather';
    font-weight: 700;

    color: white;
    margin-top: 350px;
    text-align: center;
}

.video .container .p {
    font-size: 20px;
    font-family: 'Lato';
    font-weight: 700;
    letter-spacing: 6px;
    color: white;
    margin-top: 30px;
    text-align: center;
}

.video .container .knopka img {
    width: 40%;
}

.video .container .knopka {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.video .container .romb img {
    width: 70%;
}

.video .container .romb {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}


/* четвёртый блок */

.blog .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 180px;
}

.blog .container .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.blog .container .text h2 {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 50px;
}

.blog .container .text h3 {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 30px;
}

.blog .container .text p {
    display: flex;
    justify-content: center;
    font-family: 'Lato';
    font-weight: 200;
    font-size: 15px;
}

.blog .container .text img {
    width: 200px;
    margin-left: 500px;
}

.blog .img {
    display: grid;
    grid-template-columns: repeat(4, 282px);
    grid-template-rows: repeat(2, 282px);
    gap: 20px;
    padding: 50px 0;
}

.blog .img .image:nth-child(1) {
    background-image: url(../img/Rectangle\ 79.png);
    background-size: cover;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 1;
}

.blog .img .image:nth-child(2) {
    background-image: url(../img/Rectangle\ 82.png);
    background-size: cover;
    background-position: center;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 2;
}

.blog .img .image:nth-child(3) {
    background-image: url(../img/Rectangle\ 81.png);
    background-size: cover;
    background-position: center;
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 1;
    grid-column-end: 5;
}

.blog .img .image:nth-child(4) {
    background-image: url(../img/Rectangle\ 80.png);
    background-size: cover;
    background-position: center;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 2;
}

.blog .img .image:nth-child(5) {
    background-image: url(../img/Rectangle\ 83.png);
    background-size: cover;
    background-position: center;
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 4;
}

.blog .img .image:nth-child(6) {
    background-image: url(../img/Rectangle\ 84.png);
    background-size: cover;
    background-position: center;
    grid-row-start: 2;
    grid-column-start: 4;
    grid-row-end: 3;
}

.blog .container .btn {
    display: flex;
    justify-content: center;
}

.blog .container button {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 17px;
    color: #FFFFFF;
    width: 213px;
    height: 62px;
    background-color: #F87932;
    padding-left: 10px;
    letter-spacing: 5px;
    transition: .3s;
}

.blog .container button:hover {
    border-radius: 15px;
    color: #F87932;
    background-color: #FFFFFF;
    transition: .6s;
}


/* пятый блок */

.tour{
    background: url(../img/photo_2024-06-03_22-43-47.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 75px;
}

.tour .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #FFFFFF;
}

.tour .container .tourist{
    font-family: 'Merriweather';
    font-size: 60px;
    font-weight: 900;
    color: #FFFFFF;
    margin-top: 50px;
    margin-bottom: 20px;
}

.tour .container .welcome{
    width: 157px;
    height: 23px;
    background: url(../img/Group\ 3\ \(1\).png) no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}
.tour .container .wel{
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 200;
    color: #EEEEEE;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 3px;
}
.tour .container .points{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.tour .container .points .up{
    font-family: 'SedgwickAve';
    font-size: 60px;
    font-weight: 400;
    color: #39BFA7;
}
.tour .container .points .calnd{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.tour .container .points .calnd .nmb{
    font-family: 'SedgwickAve';
    font-size: 70px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0;
    margin-right: 10px;
}
.tour .container .points .calnd .data .mounth{
    font-family: 'SedgwickAve';
    font-weight: 400;
    font-size: 18px;
    color: #969696;
    margin: 0;
}
.tour .container .points .calnd .data .name{
    font-family: 'Merriweather';
    font-weight: 900;
    font-size: 30px;
    color: #DDDDDD;
    margin: 0;
    
}
.tour .container .btn{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 17px;
    color: #FFFFFF;
    width: 213px;
    height: 62px;
    background-color: #F87932;
    padding-left: 10px;
    letter-spacing: 5px;
    transition: .3s;
    margin-bottom: 20px;
}
.tour .container .btn:hover{
    border-radius: 15px;
    color: #F87932;
    background-color: #FFFFFF;
    transition: .6s;
}


/* шестой блок */

.form .container{
    margin-top: 80px;
}

.form .container h2{
    font-family: 'Merriweather';
    font-size: 60px;
    font-weight: 900;
    color: #F87932;
    margin-top: 50px;
    margin-bottom: 20px;
}

.form .container .callreg{
    font-family: 'Lato'; 
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 5px;
    margin: 0 0 0 10;
    color: #F87932;
}


