* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Medium.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-SemiBold.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url(../fonts/Merriweather-Black.ttf);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url(../fonts/Merriweather-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SedgwickAve';
    src: url(../fonts/SedgwickAve-Regular.ttf);
    font-weight: 500;
    font-style: normal;
}


/* первый */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.background {
    background: url(../img/bg.png);
    background-size: cover;
    background-position: center;
    height: 1100px;
    position: relative;
}

.background .bg-sleva {
    position: absolute;
    width: 200px;
}

.background .container .navigat {
    display: flex;
    justify-content: space-evenly;
}

.background .navigat .btn button {
    color: #f87932;
    padding: 10px 30px;
    border-radius: 0px 0px 15px 15px;
    border: none;
    background-color: #FFFFFF;
    font-size: 20px;
    font-family: 'Lato';
    font-weight: 400;
    letter-spacing: 4px;
    height: 50px;
    transition: .3s;
}

.background .navigat .btn button:hover {
    color: #FFFFFF;
    background-color: #f87932;
    transition: .6s;
}

.background .navigat .btn1 button {
    padding: 10px 30px;
    border-radius: 0px 0px 15px 15px;
    border: none;
    background-color: #FFFFFF;
    height: 100px;
    width: 130px;
}

.background .trav {
    display: flex;
    margin-top: 130px;
}

.background .trav .slovo {
    font-family: 'Merriweather';
    font-size: 80px;
    font-weight: 700;
    margin: 1;
    color: #f87932;
    margin-bottom: 88px;
}

.background .trav .slovo .cyan {
    color: #38bfa7;
}

.background .slova .book {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 17px;
    color: #FFFFFF;
    width: 213px;
    height: 62px;
    background-color: #F87932;
    transition: .5s;
    padding-left: 10px;
    letter-spacing: 5px;
    transition: .3s;
}

.background .slova .book:hover {
    border-radius: 15px;
    color: #F87932;
    background-color: #FFFFFF;
    transition: .6s;
}

.background .container .trav .kubs img {
    height: 610px;
    width: 610px;
    margin-left: 100px;
}


/* второй блок */

.adventure {
    margin-top: 80px;
    position: relative;
}

.adventure .container .img{
    background-image: url(../img/полоска.png);
    width: 720px;
    height: 600px;
    position: absolute;
    background-size: cover;
    left: 120px;
    bottom: 80px;
}

main .adventure .container {
    display: flex;
    justify-content: center;
}

.adventure .fotoodin,
.fotodva {
    width: 50%;
}

.adventure .container .fotodva img {
    width: 100%;
}

.adventure .fotoodin h4 {
    font-size: 24px;
    font-family: 'Lato';
    font-weight: 300;
    letter-spacing: 6px;
}

.adventure .fotoodin h2 {
    font-size: 60px;
    font-family: 'Merriweather';
    font-weight: 700;
}

.adventure .fotoodin p {
    font-size: 18px;
    font-family: 'Lato';
    font-weight: 300;
    width: 75%;
    margin-top: 20px;
    margin-bottom: 100px;
    letter-spacing: 4px;
}

main .adventure .btn2 button {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 17px;
    color: #FFFFFF;
    width: 213px;
    height: 62px;
    background-color: #F87932;
    transition: .5s;
    padding-left: 10px;
    letter-spacing: 5px;
    transition: .3s;
}

main .adventure .btn2 button:hover {
    border-radius: 15px;
    color: #F87932;
    background-color: #FFFFFF;
    transition: .6s;
}


/* третий блок */

main .video {
    background-image: url(../img/Mask.png);
    background-size: cover;
    height: 900px;
    margin-top: 100px;
}

.video .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video .container .h2{
    font-size: 50px;
    font-family: 'Merriweather';
    font-weight: 700;

    color: white;
    margin-top: 350px;
    text-align: center;
}

.video .container .p{
    font-size: 20px;
    font-family: 'Lato';
    font-weight: 700;
    letter-spacing: 6px;
    color: white;
    margin-top: 30px;
    text-align: center;
}

.video .container .knopka img{
    width: 40%;
}

.video .container .knopka{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.video .container .romb img{
    width: 70%;
}

.video .container .romb{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}